<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <!--    <meta http-equiv="Content-Type" content="text/html" ; charset=UTF-8"/>-->
    <!--css-->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <!--js-->
    <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body>
<h1>Sale</h1>
<p></p>
<div class="container my-2">
    <h1>Sales List</h1>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>SaleNo</th>
            <th>Sales Man Name</th>
            <th>Product Name</th>
            <th>Sales Man ID</th>
            <th>DOS</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="s : ${sales}">
            <td th:text="${s.slNo}"></td>
            <td th:text="${s.salesManName}"></td>
            <td th:text="${s.product.prodName}"></td>
            <td th:text="${s.salesManId}"></td>
            <td th:text="${s.DOS}"></td>
        </tr>
        </tbody>
    </table>
</div>
<p></p>
</body>
</html>